.App {
  text-align: center;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.toastr {
  width: 400px;
  position: fixed;
  text-align: center;
  left: calc(50% - 200px);
  top: 5rem;
  padding: 1rem;
}

.toastr-err {
  color: red;
}
