html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 2px;
	background: rgba(243,235,22,1);
	background: -moz-linear-gradient(-45deg, rgba(243,235,22,1) 0%, rgba(17,201,238,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(243,235,22,1)), color-stop(100%, rgba(17,201,238,1)));
	background: -webkit-linear-gradient(-45deg, rgba(243,235,22,1) 0%, rgba(17,201,238,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(243,235,22,1) 0%, rgba(17,201,238,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(243,235,22,1) 0%, rgba(17,201,238,1) 100%);
	background: linear-gradient(135deg, rgba(243,235,22,1) 0%, rgba(17,201,238,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3eb16', endColorstr='#11c9ee', GradientType=1 );
	background-attachment: fixed;
}

button {
	cursor: pointer;
}