body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 2px;
	background: linear-gradient(to right bottom, rgb(243, 234, 58) 0%, rgb(16, 199, 237)100%) fixed;
	background-attachment:fixed;
}

button {
	cursor: pointer;
}